aiodns
aiohttp
aiosignal
arrow
async-timeout
attrs
backcall
bravado
bravado-core
Brotli
Bybit
ccxt
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
cryptography
cycler
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
debugpy
decorator
entrypoints
Flask
Flask-Compress
fonttools
fqdn
frozenlist
future
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
isoduration
itsdangerous
jedi
Jinja2
jsonpointer
jsonref
jsonschema
jupyter-client
jupyter-core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
monotonic
mplfinance
msgpack
msgpack-python
#multidict
nest-asyncio
numpy
packaging
pandas
pandas-ta
parso
pickleshare
Pillow
plotly
prompt-toolkit
#pycares
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywin32
PyYAML
pyzmq
requests
rfc3339-validator
rfc3987
schedule
simplejson
six
spyder-kernels
swagger-spec-validator
ta
#TA-Lib
tenacity
tornado
traitlets
typing_extensions
uri-template
urllib3
wcwidth
webcolors
Werkzeug
wincertstore
#yarl
zipp
